{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <link href='{% static "css/select2.min.css" %}' rel="stylesheet">
  <link href='{% static "css/report.css" %}' rel="stylesheet">
  <link href='{% static "css/report.css" %}' rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script src="https://use.fontawesome.com/bc64d07721.js"></script>
  <script src='{% static "js/Chart.js" %}'></script>

{% endblock extra_css %}

{% block content %}

<br />


<div class="row">
    <div class="col-md-12">
        <div class="content-panel">
            <table class="table table-striped table-advance">
              <h4><i class="fa fa-angle-right"></i> Trainig Details</h4>
              <hr>
                <thead>
                <tr>
                    <th><i class="fa fa-bullhorn"></i> Training</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Progress</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for training in trainings %}
                  <tr>
                    <td>{{ training.name }}</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" style="width: {{ training.progresses.first.percentage|default:'0' }}%"></div>
                      </div>
                    </td>
                    <td>
                      <span class="badge bg-green">{{ training.progresses.first.percentage|default:'0' }}%</span>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- /content-panel -->
    </div><!-- /col-md-12 -->
</div><!-- /row -->

 
{% endblock content %}


{% block extra_js %}
<script src='{% static "js/select2.min.js" %}'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript">
  $('#reservationtime').daterangepicker({
    autoUpdateInput: false,
    locale: {
        cancelLabel: 'Clear'
    }
  });

  $('.select2').select2();
</script>
<script src='{% static "js/Chart.js" %}'></script>
<script>
  var PieData        = {
    labels: ["Green", "Blue", "Gray", "Purple", "Yellow", "Red", "Black"],
    datasets: [{
      backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#e74c3c",
        "#34495e"
      ],
      data: [12, 19, 3, 17, 28, 24, 7]
    }]
  };

  var pieOptions     = {
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke    : true,
    //String - The colour of each segment stroke
    segmentStrokeColor   : '#fff',
    //Number - The width of each segment stroke
    segmentStrokeWidth   : 2,
    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout: 50, // This is 0 for Pie charts
    //Number - Amount of animation steps
    animationSteps       : 100,
    //String - Animation easing effect
    animationEasing      : 'easeOutBounce',
    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate        : true,
    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale         : false,
    //Boolean - whether to make the chart responsive to window resizing
    responsive           : true,
    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio  : true,
    //String - A legend template
    legend: {
      display: false,
    }
  }

  var ctx = document.getElementById("pieChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: PieData,
    options: pieOptions
  });

      //-------------
      //- BAR CHART -
      //-------------
  var barChartOptions                  = {
    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero        : true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines      : true,
    //String - Colour of the grid lines
    scaleGridLineColor      : 'rgba(0,0,0,.05)',
    //Number - Width of the grid lines
    scaleGridLineWidth      : 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines  : true,
    //Boolean - If there is a stroke on each bar
    barShowStroke           : true,
    //Number - Pixel width of the bar stroke
    barStrokeWidth          : 2,
    //Number - Spacing between each of the X value sets
    barValueSpacing         : 5,
    //Number - Spacing between data sets within X values
    barDatasetSpacing       : 1,
    //Boolean - whether to make the chart responsive
    responsive              : true,
    maintainAspectRatio     : true,

    //String - A legend template
    legend: {
      display: false,
    }
  }

  var areaChartData = {
    labels  : ['Facebook', 'Twitter', 'Instagram', 'youtube', 'tegegram', 'ads', 'ads2', 'Facebook', 'Twitter', 'Instagram', 'youtube', 'tegegram', 'ads', 'ads2',, 'youtube', 'tegegram', 'ads', 'ads2'],
    datasets: [
      {
        label               : 'Digital Goods',
        backgroundColor     : 'rgba(231,176,50,0.9)',
        strokeColor         : 'rgba(231,176,50,0.8)',
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : [28, 48, 40, 19, 86, 27, 90,28, 48, 40, 19, 86, 27, 90, 19, 86, 27, 90]
      }
    ]
  }

  var ctx = document.getElementById("barChart").getContext('2d');

  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: areaChartData,
    options: barChartOptions
  });

</script>

{% endblock extra_js %}
