.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side{
  background-color: #262223;
}

body{
  background-color: #EFF3FC;
}

.skin-black .main-header>.logo, .skin-black .main-header>.logo:hover{
  background-color: #262223;
}

.skin-black .main-header>.logo img{
  height: 70px;
}

.current-client.callout.callout-info{
  background-image: linear-gradient(270deg, #F3945E 0%, #FAE395 100%);
  border-radius: 3.72px;
}

.callout.callout-info{
  border-color: #F3945E !important;
}

.callout p:last-child{
  font-size: 1.5em;
  font-weight: 200;
}
/* buttons */

.btn-div{
  background-color: #e7b031;
  border: none;
  color: #fff !important;
}

.sidebar{
  margin-top: 50px;
}

.sidebar .btn{
  padding: 8px 18px;
}

.skin-black .sidebar-form {
  margin-top: 30px;
}
.skin-black .sidebar-form input[type="text"]{
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.skin-black .sidebar-form .btn{
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.skin-black .sidebar-menu>li.header{
  background-color: rgba(0, 0, 0, 0.1);
}

.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a, .skin-black .sidebar-menu>li.menu-open>a{
  background-color: rgba(0, 0, 0, 0.1);
}

.form-control:focus{
  border-color: #e7b031;
}

.box.box-primary{
  border-color: #e7b031;
}

.btn{
  border: none;
}

.btn-success{
  background-color: #00D65D;
}

/* cards */
.card {
  margin: 0 auto 2rem;
  padding: 2rem;
  min-height: 10rem;
  background-color: white;
  word-wrap: break-word;
  text-align: center;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1), 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1), 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}

.card.card-primary {
  border-top: 2px solid #43e97b;
  /* background-image: linear-gradient(to right, #43e97b 0%, #4ef486 100%); */
  /* box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #43e97b, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #43e97b, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1); */
}

.card.card-secondary {
  border-top: 2px solid #ff9a9e;
  /* background-image: linear-gradient(to left, #ff9a9e 0%, #ff7c81 100%); */
  /* box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #ff9a9e, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #ff9a9e, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1); */
}

.card.card-dark {
  background-color: #404040;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #3c3c3c, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #393939, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}

.card > :last-child {
  margin-bottom: 0;
}

.content-header{
  padding: 0;
  margin-bottom: 10px;
}

.content-header h1{
  font-size: 3rem;
  font-weight: 200;
}

.mission-title{
  font-size: 2rem;
  font-weight: 200;
}

.card p{
  font-size: 1.5rem;
  font-weight: 300;
}

.card-title{
  font-weight: 400 !important;
}

.like-realstate .fa{
  color: #e74c3c;
}

.SelectedPlanShow .btn{
  margin-top: 20px;
}

.end-visit{
  display: none;
}

.sidebar-collaps .full-btn{
  display: none !important;
}

.hideBtn{
  display: none;
}
.clientLikeUnit{
  color: #e74c3c;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.print-plan-btn{
  margin-top: 30px;
}

.nav-tabs-custom>.nav-tabs>li.active{
  border-top-color: #f39c12;
}


    .radio span, .radio-inline span{
      margin-top: 4px;
      display: block;
    }

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}
.md-radio {
  margin: 16px 0;
}
.md-radio.md-radio-inline {
  display: inline-block;
}

.md-checkbox.md-checkbox-inline{
  display: inline-block;
  margin-right: 15px;
}
.md-radio input[type="radio"] {
  display: none;
}
.md-radio input[type="radio"]:checked + label:before {
  border-color: #2ecc71;
  animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.md-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.md-radio label:before, .md-radio label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}
.md-radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #2ecc71;
}

/*checkbox*/
.md-checkbox {
  position: relative;
  margin: 16px 0;
}

table .md-checkbox {
  margin: auto;
}
.md-checkbox label {
  cursor: pointer;
}
.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.md-checkbox label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  cursor: pointer;
  transition: background .3s;
}
.md-checkbox input[type="checkbox"] {
  outline: 0;
  margin-right: 10px;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #2ecc71;
  border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg);
  top: 5px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none;
}
